@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

html{
  margin: 0;
  padding: 0;
  font-size:calc(0.75rem + 1vw);
  overflow-x: hidden;
}
html body{
    background-color:#051923; 
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
   }

   p{
    color: #dcfcf0;
    line-height: 1.7;
   }

   .logo{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #669bbc;
   }

  nav {
    background-color: #023047;
    padding: 10px 40px;
    height: 70px;
    box-sizing: border-box;
    width: 100dvw;
    top:0;
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    z-index: 2;
    }
    
    nav ul{
    display: flex;
    gap:40px;
  }
  
  nav ul li{
    list-style-type: none;
  }

  nav hr {
    display: none; /* From previous step */
    width:100%;
    margin:0;
    padding:0;
  }

  nav ul li a {
    text-decoration: none;
    color:#669bbc;
    font-weight: bold;
    transition:all 0.2s ease-in-out;
  }
  
 nav ul li a:hover{
 color:#caf0f8;
 }

 .menu-icon{
  color: #669bbc;
  font-size: 30px;
  display: none;
}

@media (max-width:600px) {
  nav ul{
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      flex-direction: column;
      text-align: center;
      background-color: #023047;
      padding: 0;
      overflow: hidden;
      gap: 10px;
  }

nav ul li:nth-child(4){
    padding-inline:10px;
}
    
nav ul li:last-child{
    margin-bottom:20px;
}

nav ul hr{
    display:block;
    border-color:#051923;
}

nav ul li{
      padding: 20px;
  }

  .menu-icon{
      display: block;
  }

  #menuList{
      transition: all 0.5s ease-in-out;
  }
}

 .HomeContainer{
  display: flex;
  height: 100vh;
  width: auto;
  background:none;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
 }

 .box1{
  width:auto;
  height: auto;
  padding:1em;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  margin: auto;
  font-size: 1vw;
 }

 .box2{
  height: auto;
  width: auto;
  padding: 1.5em;
  background-color: rgb(4, 32, 51);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: auto;
  font-size: calc(0.5rem + 1vw);
 }

 .box2 h3{
  padding-inline:5px;
  border: 5px solid white;
  border-top-width: 0;
  border-bottom-width: 0;
  border-color: #2f7497;
 }

 .box2 img{
  border-radius: 12px;
  margin-bottom: 5em;
  height: auto;
  width: auto;
  margin: auto;
  margin-bottom: 1em;
 }

 .Myname{
  font-size: 3vw;
  background: #30CFA4;
  background: linear-gradient(to right, #598392 0%, #124559 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

 .WebDev{
  background:linear-gradient(to right, #124559 0%, #c0d6df 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3vw;
 }

 @media screen and (max-width:768px) {
  .HomeContainer{
    flex-direction: column-reverse;
    margin-top: 5em;
  }
  .box1{
    text-align: center; 
    font-size: 4vw;
  }
  .WebDev{
    font-size: 5vw;
  }
  .Myname{
    font-size: 7vw;
  }

  p{
    font-size: 2vw;
  }
  .gridcontainer{
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.7fr;
  }

  .grid{
    grid-template-columns:1fr;
    grid-template-rows: repeat(4, 1fr); /*Creates 4 template rows with 1fr value*/
    grid-template-areas:
    "html"
    "css"
    "bootstrap"
    "javascript";
  }

  .projectContainer{
    flex-direction: column;
  }

  .projectContainer img{
    min-width: 50vw;
  }
  .titles{
    font-size: 4vw;
  }
 }

  @media screen and (max-width: 425px) {
  h3{
    margin-top: 0;
  }

  .footerbox{
    flex-direction: column;
  }
  
  .fa-facebook{
    width: 20vw;
  }

  .fa-linkedin{
    width: 20vw;
  }

  .fa-github{
    width: 20vw;
  }

  .projectbox{
    width: auto;
    height: auto;
  }

  .grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "html"
    "css"
    "bootstrap"
    "javascript";
  }
  .projectbox img{
    max-width: 50vw;
    max-height: 20vh;
  }
}

@media screen and (min-width:426px) {
  .grid{
    grid-template-columns: repeat(2, 1fr); /* this will create 2 columns with 1fr value */
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
  "html css"
  "bootstrap javascript";
  }
  
}
  .grid {
    display:grid;
    grid-gap:0.5rem;
    text-align: justify;
    margin-inline:5em;
    height: auto;
    font-size: calc(0.5rem + 0.3vw);
}

#html{
  grid-area: html;
  padding: 0.5em;
}

#css{
  grid-area: css;
  padding: 0.5em;
}

#bootstrap{
  grid-area: bootstrap;
  padding: 0.5em;
}

#javascript{
  grid-area: javascript;
  padding: 0.5em;
}
  
  .img1 {
    height: 5em; /* Set the desired height for all images */
    width: auto;  /* Set the desired width for all images */
    margin: auto;
    aspect-ratio: 5/3;
    object-fit: contain;
    display: block; /* Ensure images are centered within their container */
  }
  
  .titles{
    color:#7afdcb;
    padding: 0.2em;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  #loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #051923;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  .ring {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #043124;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:Aquamarine;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #86d4b7;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}

.ring:before {
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid rgb(185, 241, 223);;
  border-right:3px solid rgb(185, 241, 223);
  border-radius:50%;
  animation:animateC 2s linear infinite;
}

.span{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}

.span:before{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#bcdbce;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #24744e;
}

@keyframes animateC {
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}

@keyframes animate {
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

.btncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 100vh;
}

.btnclass {
  width: 15vh;
  height: auto;
  border-radius: 12px;
  padding: 0.75em;
  background: transparent;
  border: 3px solid rgb(130, 238, 238);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: aliceblue;
}

.h1{
  color: rgb(50, 189, 142);
}

.btnclass:hover {
  background:#62ccc7;
  cursor: pointer;
  color: black;
  transform: scale(1.2);
  box-shadow:0 0 50px #24744e;
}

.a{
  color: aliceblue;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  background-color:none;
  width: auto;
}

.a:hover{
  color: black;
}

#main-content {
  opacity:0;
  transition: opacity 0.5s ease-in-out;
}

#main-content.show {
  opacity: 100;
}

.gridcontainer{
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  margin-inline:3em;
  font-size: calc(0.4rem + 0.5vw);
  width: auto;
}

@media screen and (max-width:375px){
  .box2{
    height: auto;
    width:auto;
    margin-inline:1em;
  }

  .box2 img{
    height: 20vh;
    width: auto;
  }
}

.projectContainer{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  height: auto;
}

.projectContainer .projectbox img{
  height: auto;
  max-width: 20vw; 
  margin: 0;
  padding: 0;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
}

.projectContainer img:hover{
    transform:scale(1.2);
}

.projectbox{
  display: flex;

  align-items: center;
  flex-direction: column;
  text-align: justify;
  height: 50dvh;
  padding: 1em;
  max-width: 30vw;
  min-width: 20vw;
  font-size: calc(0.5rem + 0.5vw);
}

h4{
  color: #dcfcf0;
}

footer{
  margin: 0;
  background-color: #07232c;
  height: auto;
  width: 100vw;
  font-size: calc(0.3rem + 0.4vw);
}


.footerbox{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding:10px 20px;
}

.footerSubBox{
  display: flex;
  flex-direction: column;
  margin-inline:2em;
  gap: 10px;
}

footer h2{
  max-width: 100%;
  background-color: #2b576d;
  margin: 0;
  top:0;
  left:0;
  color: #a5d6e9;
  padding: 10px 20px;
}

footer a{
  text-decoration: none;
  color: #77adc0 ;
  transition: all 0.3s ease-in-out;
}

footer .email:hover{
  color:#2f7497 ;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin:0;
  border-radius: 15px;
  cursor: pointer;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github{
  background-color: #123243;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-instagram {
  background: #d8a757;
  color: white;
}
